body {
    font-family: 'Open Sans', sans-serif;
    
}
p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container{
    max-width: 1024px;
    display: block;
    margin: 0 auto;
}
button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: none;
    outline: none;
}
button:active {
    transform: translateY(0.5px);
}
//СТИЛИ ХЕДЕРА

.welcome {
    background: url(../img/header/header-bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    &__logo {
        margin-top: 70px;
        margin-bottom: 78px;
        img {
            display: block;
            margin: 0 auto;
        }

    }
    &__caption {
        font-weight: 400;
        color: #fff;
        font-size: 49px;
        
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    &__bold-caption {
        font-weight: bold;
        margin-bottom: 63px;
    }
    &__search {
        box-shadow: 0px 1px 4px 0px #9f9f9f;
        display: block;
        margin-top: 63px;
        margin: 0 auto;
        width: 335px;
        height: 335px;
        background-color: #fff;
        color: #b4adad;
        font-size: 15px;
        p {
            width: 218px;            
            text-align: center;
            margin: 0 auto;
            
        }
        img {
            height: 88px;
            margin-bottom: 27px;
        }
        input {
            margin-left: 34px;
            border: none;
            box-shadow: 0px 0px 7px -1px #bebebe inset;
            width: 265px;
            height: 36px;
            margin-top: 32px;
            margin-bottom: 25px;
        }
        input::placeholder{
            color: #b4adad;
            font-size: 15px;
            
            
        }
        button {
            p{
                text-align: center;
                display: inline;
                
            }
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            color: #fff;
            border: none;
            background-color: #257ed3;
            display: block;
            margin: 25px auto;
            width: 192px;
            height: 36px;
        }
        button:hover {
            background-color: #1e6cb4;
        }
      
    }
    @media screen and (max-width:700px)  {
           background-size: auto;
    }
}
// Начинаю делать блок с фичами и открываю мэйн

.features {
    &__wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    &__item{
        margin-top: 51px;
        width: 410px;
        display: flex;
        img{
            margin-bottom: 110px;
            margin-right: 29px;
        }
        p{
            font-size: 14px;
            color: #4f4e4e;
            margin-top: 19px;
        }
        h3{
            font-size: 27px;

        }
    }
    &__description {
        height: 100px;
        top: -200px;
        margin: auto 0;
    }
}
// MAIN-INFORMATION
.main-information {
    color: #fff;
    min-height: 1550px;
    &__item_vertical{
        margin-top: 108px;
        font-size: 14px;
        img{
            padding-bottom: 35px;
            display: block;
            margin: 0 auto;
            padding-top: 86px;

        }
        .main-information__description {
            min-width: 650px;
            margin-bottom: 315px;
            font-size: 14px;
            h3{
                font-size: 39px;
                
                text-align: center;
                margin-bottom: 46px;
                
            }
        }
    }
    
    &__item_horizontal {
        padding-bottom: 135px;
        display: flex;
        justify-content:space-between;
        
        
        .main-information__description {
            padding-bottom: 135px;
            h3{
                margin-bottom: 32px;
                font-size: 39px;

            }
            margin-left: 60px;
            max-width: 510px;
            max-height: 315px;
        }
        button{
            margin-top: 45px;
            border: 3px solid #fff;
            border-radius: 5px;
            background: none;
            color: #fff;
            font-size: 27px;
            padding: 12px 31px 18px 31px;
            cursor: pointer;
        }
        button:hover {
            color: #44a36f;
            border: 3px solid #44a36f86;
            background-color: #fff;
        }
    }
   
    

    background: url(../img/main-information/bg.png)  no-repeat;
    background-size: cover;
}
.registration {
    display: flex;
    justify-content: center;
    background: url(../img/regitration/bg.png);
    background-size: 100%;
    padding-bottom: 35px;
    
    &__form-wrap {
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            margin-top: 161px;
            margin-bottom: 46px;

            background-color: rgba(255, 255, 255, 0.808);
            border-radius: 50%;
            width: 430px;
            height: 430px;
            textarea {
                margin: 0 auto;
                border: 1px solid #4c505d;
                border-radius: 3px;
                width: 80%;
            }
            .registration__submit-btn {
                width: 70px;
                height: 70px;
                display: inline-block;
                text-align: center;
                max-width: 66px;
                margin: 0 auto;
                margin-top: 33px;
                border: none;
                background: none;
                padding: 0;
            }
            .registration__input {
                display: block;
                margin: 0 auto;
                border: 1px solid #656a7c;
                border-radius: 3px;
                max-width: 60%;
                max-height: 35px;

                margin-bottom: 15px;
            }
            .registration__input::placeholder {
                color: #4c505d;
            }

            .registration__submit-btn:hover {
                transform: rotate(360deg);
                transition: 0.4s;
            }
        } 
    }
  
}
footer {
    margin-top: 100px;
    bottom: 0;
    margin: 0;
    background-color: #43a06d;
    height: 45px;
    margin-top: -45px;
    p{
        margin: 0;
        padding: 0;
        color: #fff;
        text-align: center;
    }
}
@media screen and (max-width:700px) {
    .welcome {        
        &__logo {
            margin-top: 10px;
            margin-bottom: 58px;
            img {               
                max-width: 150px;
            }
        }
       
        &__caption {
            font-size: 25px;  
        }
        &__bold-caption {
            font-size: 34px;  
            font-weight: bold;
            margin-bottom: 55px;
        }
        &__search {
            padding-top: 10px;

            margin-top: 33px;
            margin: 0 auto;
            width: auto;
            height: 335px;
            font-size: 14px;
           
            img {
                width: 100%;
                height: auto;
                margin-bottom: 27px;
            }
            input {
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;
                margin-top: 20px;                             
                width: 80%;
               
            }                                
            
        }    
    }
    .features {
        
        &__wrap {
            display: block;
            
        }
        
        &__item{
            display: block;
            margin: 0 auto;
            margin-top: 51px;
            width: 300px;
            
            img{
                width: 30%;
                height: 50%;
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;
                
                
            }
            p{
                margin-top: 20px;
                text-align: center;
                margin: 0 auto;               
                font-size: 15px;                                
                width: 75%;
            }
            h3{
                text-align: center;
                font-size: 27px;
    
            }
        }
    }
    .main-information {
        padding-bottom: 10px;
        &__item_horizontal, &__item_vertical {
            padding-bottom: 65px;
            display: block;
            img {
                display: block;
                margin: 0 auto;
            }
            .main-information__description{
                text-align: center;
                p{
                    font-size: 14px;
                    width: 290px;
                    margin: 0 auto;
                }
                h3{
                    font-size: 18px;
                    display: inline-block;
                    text-align: center;
                    max-width: 250px;
                   
                }
                margin: 0;
                padding: 0;
                min-width: 300px;
            }
        }
        
        
    }
    .registration {
        
        form {
            .registration__submit-btn{
                margin-top: 1px;
            }
            width: 320px;
            height: 320px;
        }
        textarea {
            
            
            width: 175px;
        }
        input {
            margin: 0 auto;
            margin-top: 10px;
            width: 175px;
            height: 25px;
            
          
        }
        .registration__form {
            width: 300px;
            height: 300px;
        }
        .registration_wrap {
            max-width: 320px;
         
        }
    }
}
